node_modules
whatsapp-session*.json
package-lock.json
downloaded-media/
.wwebjs_auth

# .vscode/
# .wwebjs_auth/
# app.js
# config/
# index.html
# node_modules/
# nodemon.json
# package-lock.json
# package.json